<% const d = new Date()
   let year = d.getFullYear() %>
<footer>
    <p class="copyright">&copy; <%= year %>, ♠ Gabriel Chikwendu Nwofoke ♠ CSE 340 App ♠ All rights reserved</p>
    <a href="/inv/trigger-error">Trigger Error</a>
</footer>
