<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
 

  <!-- CORRECT - use <a> styled as button -->
  <a href="/account/login" id="tools" title="Click to log in">My Account</a>
</header>