
<header id="top-header">
  <div class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </div>
  <% if (locals.loggedin) { %>
    <span>Welcome <%= accountData.account_firstname %></span>
    <a href="/account/logout" title="Click to log out">Logout</a>
  <% } else { %>
    <a href="/account/login" id="tools" title="Click to log in">My Account</a>
  <% } %>
</header>