<nav>
  <button class="hamburger" id="hamburger" aria-label="Toggle navigation menu">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </button>
  
  <ul id="nav-menu">
    <li><a href="/" title="Home page">Home</a></li>
    <li><a href="/inv/type/custom" title="Custom vehicles">Custom</a></li>
    <li><a href="/inv/type/sedan" title="Sedan vehicles">Sedan</a></li>
    <li><a href="/inv/type/suv" title="SUV vehicles">SUV</a></li>
    <li><a href="/inv/type/truck" title="Truck vehicles">Truck</a></li>
  </ul>
</nav>