<nav>
    <ul>
        <li><a href="/" title="Home page">Home</a></li>
        <li><a href="/about" title="About us">About</a></li>
        <li><a href="/inventory" title="Our vehicles">Inventory</a></li>
        <li><a href="/account" title="Your account">Account</a></li>
    </ul>
</nav>