<div class="error-container">
  <div class="error-content">
    <div class="error-icon">⚠️</div>
    <h1 class="error-title">Error <%= title %></h1>
    <p class="error-message"><%= message %></p>
    <a href="/" class="btn-home"> ⬅️Return to Home</a>
  </div>
</div>